form {
    font-size: 18px;
    max-width: 300px;
    margin-bottom: 20px;
}

form button {
    cursor: pointer;
    display: block;
    background-color: blue;
    color: white;
    font-size: 21px;
    font-weight: 300;
    width: 160px;
    margin: 20px auto;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

form button:hover {
    box-shadow: 4px 3px 6px #00000036;
}


.contact-input {
    min-height: 40px;
    width: 300px;
    margin-bottom: 15px;
}

input {
    width: 300px;
}

textarea{
    width: 300px;
}

.success{
    font-size: 20px;
    text-align: center;
    color: green;
}